/* The beginning of the end from my css carreer */
/* the startup css code*/

*{
    
    margin: 0px;
    padding: 0px;
    letter-spacing: normal;
    line-height: 18px;
    text-indent: initial;
    word-spacing: 0.15em; 
    text-align: left;
    
}
/* unvisited link */
a:link {
    color: #FF0000;
  }
  
  /* visited link */
  a:visited {
    color: #00FF00;
  }
  
  /* mouse over link */
  a:hover {
    color: #FF00FF;
  }
  
  /* selected link */
  a:active {
    color: #0000FF;
  }
@media screen and (max-width: 480px) {
    body{
        width : 100%;
        background-color: rgb(255, 255, 255);
        font-family: Arial, Helvetica, sans-serif;
        flex-wrap: wrap;
    }
    img{
        width: auto;
        height: auto;

    }
    #asideIndex{
        float: left;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    #article1{
        padding-top: 70px;
        padding-bottom: 10px;
    }
    #article2{
        padding-top: 70px;
        padding-bottom: 10px;
    }
    #article3{
        padding-top: 70px;
        padding-bottom: 10px;
    }
    h3{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    figcaption{
        padding-bottom: 10px;
    }
    h1{
        background-color: #808080;
    }
    h2{
        background-color: rgb(175, 175, 175);
    }
    #logo{
        display: none;
        position: static;
    }
    #videoSection{
        display: none;
    }
    #headerTitelLogo{
        float: left;
    }
    nav{
        float: left;
    }
    
    
    #footer{
        z-index: 9999;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        align-content: flex-end;
        justify-content: right;
        justify-items: flex-end;
        
    }
    
    #cookieStatement{
        background-color: #FA0;
        opacity: 50%;
        color: #FFF;
        position: fixed;
        border-color: #000;
        border-style: double;
        border-width: 5px;
        font-family: 'Notable', sans-serif;
    }
    table{
        border-collapse: collapse;
        width: 300px;
        background-color: #353535;
        border-radius: 5px;
        box-shadow: 0px 10px 30px 5px rgba(0,0,0,.15);
        margin: 25px auto;
    }
    tr :first-child{
        background-color: #FF0;
    }
    tr :nth-child(1){
        background-color: #CFF;
    }
    tr :nth-child(3){
        background-color: #CFF;
    }
    tr :nth-child(5){
        background-color: #CFF;
    }
    tr :nth-child(2){
        background-color: #FFF;
    }
    tr :nth-child(4){
        background-color: #FFF;
    }
    th{
        border-bottom: 3px dashed #FFF;
    }
    tr th{
        color: rgb(0, 0, 0);
        padding: 8px;
    }
    td{
        padding: 2px;
        color: rgb(0, 0, 0);
    }
    #sectionDestinations{
        float: left;
    }
    figure{
        float: left;
    }
    aside{
        flex-grow: 0;
        flex-shrink: 0;
    }
    
}
@media screen and (min-width: 481px) and (max-width: 1279px){
    body{
        width : 100%;
        background-color: #ffffff;
        font-family: Arial, Helvetica, sans-serif;
        font-size:initial;
        flex-wrap: wrap;
    }
    #sectionArticles{
        padding-left: 10px;
    }
    h1{
        background-color: rgb(116, 116, 116);
    }
    h2{
        background-color: rgb(175, 175, 175);
    }
    #logo{
        float: left;
    }
    #videoSection{
        display: none;
    }
    #headerTitelLogo{
        float: left;
    }
    nav{
        padding-left: 25px;
        float: left;
    }
    #asideIndex{
        float: left;
        padding-left: 30px;
    }
    img{
        height: 250px;
        width: 350px;
    }
    #article1{
        padding: 5px;
        height: 250px;
        width: 350px;
        float: left;
    }
    #article2{
        padding: 5px;
        height: 250px;
        width: 350px;
        float: left;
    }
    #article3{
        padding: 5px;
        height: 250px;
        width: 350px;
        float: left;
    }
    aside{
        flex-grow: 0;
        flex-shrink: 0;
    }
    #sectionArticles{
        float: left;
    }
    figcaption{
        font-size: small;
    }
    h3{
        padding-bottom: 10px;
        padding-top: 10px;
    }
    #footer{
        z-index: 9999;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        align-content: flex-end;
        justify-content: right;
        justify-items: flex-end;
        
    }
    #sectionDestinations{
        float: left;
    }
    figure{
        float: left;
    }
    #cookieStatement{
        background-color: #FA0;
        opacity: 50%;
        color: #FFF;
        position: fixed;
        border-color: #000;
        border-style: double;
        border-width: 5px;
        font-family: 'Notable', sans-serif;
    }
    
    table{
        border-collapse: collapse;
        width: 500px;
        background-color: #353535;
        border-radius: 5px;
        box-shadow: 0px 10px 30px 5px rgba(0,0,0,.15);
        margin: 25px auto;
    }
    tr :first-child{
        background-color: #FF0;
    }
    tr :nth-child(1){
        background-color: #CFF;
    }
    tr :nth-child(3){
        background-color: #CFF;
    }
    tr :nth-child(5){
        background-color: #CFF;
    }
    tr :nth-child(2){
        background-color: #FFF;
    }
    tr :nth-child(4){
        background-color: #FFF;
    }
    th{
        border-bottom: 3px dashed rgb(0, 0, 0);
    }
    tr th{
        color: rgb(0, 0, 0);
        padding: 8px;
    }
    td{
        padding: 2px;
        color: rgb(0, 0, 0);
    }
    fieldset{
        float: left;
    }
    #input-field1{
        width: 200px;
    }
    #input-field2{
        width: 200px;
    }
    #input-field-textarea-field{
        height: 60px;
        width: 200px;
        margin-right: 393px;
        margin-bottom: 200px;
    }
    #imgAside1{
        float: left;
    }
    #imgAside2{
        float: left;
    }
    #imgAside3{
        float: left;
    }
    
}
@media screen and (min-width: 1280px) {
    body{
        width : 100%;
        background-color: #fefefe;
        font-family: Arial, Helvetica, sans-serif;
        font-size:initial;
        flex-wrap: wrap;
    }
    #sectionDestinations{
        float: left;
    }
    figure{
        float: left;
    }
    img{
        width: 350px;
        height: 250px;
    }
    #sectionArticles{
        padding-left: 10px;
    }
    h1{
        background-color: rgb(116, 116, 116);
    }
    h2{
        background-color: rgb(175, 175, 175);
    }
    #logo{
        float: left;
    }
    #videoSection{
        display: none;
    }
    #headerTitelLogo{
        float: left;
    }
    nav{
        float: left;
    }
    #asideIndex{
        float: left;
        padding-left: 30px;
    }
    
    #article1{
        padding-right: 10px;
        padding-top: 50px;
        height: 250px;
        width: 350px;
        float: right;
        
    }
    #article2{
        padding-right: 10px;
        padding-top: 50px;
        height: 250px;
        width: 350px;
        float: right;
        
    }
    #article3{
        padding-right: 10px;
        padding-top: 50px;
        height: 250px;
        width: 350px;
        float: right;
        
    }
    #imgArticle2{
        padding-top: 36px;
    }
    aside{
        flex-grow: 0;
        flex-shrink: 0;
    }
    #sectionArticles{
        float: left;
    }
    figcaption{
        font-size: small;
    }
    h3{
        padding-bottom: 10px;
        padding-top: 10px;
    }
    #footer{
        z-index: 9999;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        align-content: flex-end;
        justify-content: right;
        justify-items: flex-end;
        
    }
    
    #cookieStatement{
        background-color: #FA0;
        opacity: 50%;
        color: #FFF;
        position: fixed;
        border-color: #000;
        border-style: double;
        border-width: 5px;
        font-family: 'Notable', sans-serif;
    }
    p{
        float: left;
    }

    table{
        border-collapse: collapse;
        width: 500px;
        background-color: #353535;
        border-radius: 5px;
        box-shadow: 0px 10px 30px 5px rgba(0,0,0,.15);
        margin: 25px auto;
    }
    tr :first-child{
        background-color: #FF0;
    }
    tr :nth-child(1){
        background-color: #CFF;
    }
    tr :nth-child(3){
        background-color: #CFF;
    }
    tr :nth-child(5){
        background-color: #CFF;
    }
    tr :nth-child(2){
        background-color: #FFF;
    }
    tr :nth-child(4){
        background-color: #FFF;
    }
    
    th{
        border-bottom: 3px dashed rgb(0, 0, 0);
    }
    tr, th{
        color: rgb(0, 0, 0);
        padding: 8px;
    }
    td{
        padding: 2px;
        color: rgb(0, 0, 0);
    }
    fieldset{
        float: left;
    }
    #input-field1{
        width: 200px;
    }
    #input-field2{
        width: 200px;
    }
    #input-field-textarea-field{
        height: 60px;
        width: 200px;
        
    }
    #asideContact{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-content: flex-end;
    }
    

}

