/* The beginning of the end from my css carreer */
/* the startup css code*/

*{
    
    margin: 0px;
    padding: 0px;
    letter-spacing: normal;
    line-height: 18px;
    text-indent: normal;
    word-spacing: 0.15em; 
    text-align: left;
    
}
/* unvisited link */
a:link {
    color: #FF0000;
  }
  
  /* visited link */
  a:visited {
    color: #00FF00;
  }
  
  /* mouse over link */
  a:hover {
    color: #FF00FF;
  }
  
  /* selected link */
  a:active {
    color: #0000FF;
  }
@media screen and (max-width: 480px) {
    body{
        width : 100%;
        background-color: rgb(255, 255, 255);
        font-family: Arial, Helvetica, sans-serif;
        flex-wrap: wrap;
    }
    img{
        justify-content: center;
    }
    h1{
        background-color: #808080;
    }
    h2{
        background-color: rgb(175, 175, 175);
    }
    #logo{
        display: none;
        position: static;
    }
    #videoSection{
        display: none;
    }
    #headerTitelLogo{
        float: left;
    }
    nav{
        float: right;
    }
    #asideIndex{
        float: left;
    }
    
    #imgArticle1{
        height: 20%;
        width: 20%;
    }
    #imgArticle2{
        height: 20%;
        width: 20%;
    }
    #imgArticle3{
        height: 20%;
        width: 20%;
    }
    #footer{
        z-index: 9999;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        align-content: flex-end;
        justify-content: right;
        justify-items: flex-end;
        
    }
    
    #cookieStatement{
        background-color: #FA0;
        opacity: 50%;
        color: #FFF;
        position: fixed;
        border-color: #000;
        border-style: double;
        border-width: 5px;
        font-family: 'Notable', sans-serif;
    }
}
@media screen and (min-width: 481px) and (max-width: 1279px){
    body{
        width : 100%;
        background-color: #3f155a;
        font-family: Arial, Helvetica, sans-serif;
        font-size: absolute;
        flex-wrap: wrap;
    }
    #sectionArticles{
        padding-left: 10px;
    }
    h1{
        background-color: rgb(116, 116, 116);
    }
    h2{
        background-color: rgb(175, 175, 175);
    }
    #logo{
        float: left;
    }
    #videoSection{
        display: none;
    }
    #headerTitelLogo{
        float: left;
    }
    nav{
        float: left;
    }
    #asideIndex{
        float: left;
        padding-left: 30px;
    }
    
    #imgArticle1{
        height: 250px;
        width: 350px;
        float: left;
    }
    #imgArticle2{
        height: 250px;
        width: 350px;
        float: left;
    }
    #imgArticle3{
        height: 250px;
        width: 350px;
        float: left;
    }
    aside{
        flex-grow: 0;
        flex-shrink: 0;
    }
    #sectionArticles{
        float: left;
    }
    figcaption{
        font-size: small;
    }
    h3{
        padding-bottom: 10px;
        padding-top: 10px;
    }
    #footer{
        z-index: 9999;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        align-content: flex-end;
        justify-content: right;
        justify-items: flex-end;
        
    }
    
    #cookieStatement{
        background-color: #FA0;
        opacity: 50%;
        color: #FFF;
        position: fixed;
        border-color: #000;
        border-style: double;
        border-width: 5px;
        font-family: 'Notable', sans-serif;
    }
    p{
        float: left;
    }
}
@media screen and (min-width: 1280px) {
    body{
        width : 100%;
        background-color: #fefefe;
        font-family: Arial, Helvetica, sans-serif;
        font-size: absolute;
        flex-wrap: wrap;
    }
    img{
        width: 350px;
        height: 250px;
    }
    #sectionArticles{
        padding-left: 10px;
    }
    h1{
        background-color: rgb(116, 116, 116);
    }
    h2{
        background-color: rgb(175, 175, 175);
    }
    #logo{
        float: left;
    }
    #videoSection{
        display: none;
    }
    #headerTitelLogo{
        float: left;
    }
    nav{
        float: left;
    }
    #asideIndex{
        float: left;
        padding-left: 30px;
    }
    
    #article1{
        padding-right: 10px;
        padding-top: 50px;
        height: 250px;
        width: 350px;
        float: right;
        
    }
    #article2{
        padding-right: 10px;
        padding-top: 50px;
        height: 250px;
        width: 350px;
        float: right;
        
    }
    #article3{
        padding-right: 10px;
        padding-top: 50px;
        height: 250px;
        width: 350px;
        float: right;
        
    }
    #imgArticle2{
        padding-top: 36px;
    }
    aside{
        flex-grow: 0;
        flex-shrink: 0;
    }
    #sectionArticles{
        float: left;
    }
    figcaption{
        font-size: small;
    }
    h3{
        padding-bottom: 10px;
        padding-top: 10px;
    }
    #footer{
        z-index: 9999;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        align-content: flex-end;
        justify-content: right;
        justify-items: flex-end;
        
    }
    
    #cookieStatement{
        background-color: #FA0;
        opacity: 50%;
        color: #FFF;
        position: fixed;
        border-color: #000;
        border-style: double;
        border-width: 5px;
        font-family: 'Notable', sans-serif;
    }
    p{
        float: left;
    }
}

